body {
    margin: 0%;
    position: relative;
}

#root {
    display: flex;
    flex-direction: row;
    min-height: 162vh;
    /* Sätt ett minsta höjd för att säkerställa att allt innehåll syns på skärmen */
}