body {
  margin: 0;
}

.wrapper {
  margin: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;


}

.info {
  width: fit-content;
  margin-left: 20px;
}

.bids {
  width: fit-content;

}

.info h3 {
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailP {
  display: flex;
  align-items: center;

}

.label {
  font-weight: bold;
  margin-right: 10px;
}



.bids h3 {
  text-align: center;
  border-bottom: 1px solid black;
}