.container {
    min-height: 100vh;
    padding: 20px;
    background-color: aqua;
    top: 275px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


}

#auctionTitle {
    display: inline-block;
    width: fit-content;
    background-color: bisque;
    margin: 5px;
    padding: 10px;

}

#searchBar {
    width: 200px;
    height: 20px;
    border: 2px solid black;
    margin-top: 20px;
    background-image: url("pics/searchIcon.png") 
}


#category {
    border: 1px solid black;
    border-radius: 2px;
    width: fit-content;
    padding: 20px;
    /* position: relative; */
    top: -5px;
}